[2016-09-25 00:18] brandonsueur opened #1 "Improvement"
Hi,

it would b

[2016-09-25 00:21] brandonsueur opened #2 "Improvement"
Hi,

it would be great to add sound in background!
- clouded over : thunderstorm
- bad weather : rains
- good weather : birds

here! 💯

[2016-09-25 00:21] brandonsueur commented on #1
#2 👍 :I was wrong:

[2016-09-25 00:21] #1 closed, assigned to nobody

[2016-09-25 15:34] konradmichalik commented on #2
Could be an optional feature for future versions. Will be think about it.

Cheers!

[2016-09-25 15:47] #2 closed, assigned to nobody

[2016-09-25 16:54] iCHAIT opened #3 "Failure during data fetching"
I am not able to use the application. It indefinitely flashes `Failure during data fetching` and also the time shown is wrong, as far as my location is concerned (It shows 18:50 whereas its 22:20 in my area). Am I missing something?

Here is a screenshot for reference -

![screen shot 2016-09-25 at 10 20 09 pm](https://cloud.githubusercontent.com/assets/8472314/18816810/6b450d4a-836e-11e6-935b-e57

[2016-09-25 16:58] iCHAIT commented on #3
I tried getting an API key for my location as well, but the third party service that you are using seems to be unresponsive on my end :/

[2016-09-25 17:08] konradmichalik commented on #3
You need a free API key from [openweathermap](http://openweathermap.org/). To get one, you need to sign up, so you can fetch weather information. Then you can get weather data for almost every place in the world.
Unfortunately the app is using a free weather information service. So sometimes the data seems to unobtainable or the city can't be found anymore. These are almost temporary problems.
If

[2016-09-25 17:35] #3 closed, assigned to nobody

[2016-09-26 16:39] Bicet commented on #3
`I tried getting an API key for my location as well, but the third party service that you are using seems to be unresponsive on my end :/`

Same problem here, I've registered an api key and select as city London, UK

[2016-09-26 16:48] konradmichalik commented on #3
So where are you from? Did you try some other places?
You got your own API key as well? You can also try to reload the application if there is a temporary error.

[2016-09-26 16:50] Bicet commented on #3
Thank you for your reply @jackd248 :)
So I'm from Venice, Italy; in any case I've tried with different cities, and also the random one.
if you want I can share here my api keys, maybe the problem is on it :/

[2016-09-26 16:54] konradmichalik commented on #3
You can send me your api key within an email if you want to keep them secret. 
I’m sorry about the troubles with the weather api, I will have a look for maybe a better option. 

-- 
Konrad Michalik
konradmichalik.eu 

Am 26. September 2016 um 18:50:32, Bicet (notifications@github.com) schrieb:

Thank you for your reply @jackd248 :)
So I'm from Venice, Italy; in any case I've tried with different c

[2016-09-26 16:58] Bicet commented on #3
Again! Thank you for you fast reply :)

Here's the api key, you don't have to worry, about the problem, but I really like to try out this app :)

ababe97d31598236c4944045a39cafe9

[2016-09-26 17:02] konradmichalik commented on #3
I’ve tried your key and there are no troubles at all. I’m not sure if there are some geographical restrictions with the open source service, I've never heard about other users having this problem.

You can try out one of my keys as well, but I think that won't solve the problem.
547bbdc38bd641bef6645cd2c4bc613f

[2016-09-26 17:06] Bicet commented on #3
I don't know why, but as soon as I put your key it worked.
Changed back to my key and it worked!
Thank you :)

[2016-09-26 17:14] konradmichalik commented on #3
Oh okay, I really have no idea how this happen, but sometimes you only need to give them a second try. Cheers 😄

[2016-10-06 09:35] sindresorhus opened #5 "Feedback"
I tried it out and wanted to share some quick feedback. The app is really well done btw. Love the animations.
- [x] In the settings, the checkboxes/radiobuttons/star are blurry on retina screens.
  <img width="115" alt="screen shot 2016-10-06 at 16 26 51" src="https://cloud.githubusercontent.com/assets/170270/19147318/c2d7e516-8be1-11e6-85c3-c3ac79c3cade.png">
- [x] Would be nice UX if it got the

[2016-10-07 09:27] konradmichalik commented on #5
Thank you by the way for your constructive feedback and the input. You're right, there are almost some bugs and opportunities for improvement, so it's still a long way to version v1.0.0.

But for now I almost solved all issues that you've found. Only the positioning problem is still on my list. I will keep that in mind.

Everything else is in [v0.6.0](https://github.com/jackd248/temps/releases/tag

[2016-10-08 02:07] hejianxian opened #6 "In 'Guangzhou, CN' city, the time in the upper right corner is wrong."
Hi!

This is a great project.  I ❤️ this.

So.

When I use this app, I found the time is wrong. My address is `Guangzhou, CN`, the current time is 09:57, but the time in the upper right corner is 10:57. More than an hour.

![image](https://cloud.githubusercontent.com/assets/6087438/19209477/a5660460-8d3d-11e6-8f00-c692f604fc73.png)

[2016-10-09 12:13] konradmichalik commented on #6
Hey @Alex-fun,

Thanks for the compliment and nice to see where _temps_ is in use. ;)

You're right, _temps_ has a timezone bug. I fixed this issue by solving some offset and summertime problems. Thanks for your participation 👍

The solution will be available soon in **v0.6.1**

[2016-10-09 12:13] #6 closed, assigned to konradmichalik

[2016-10-25 01:34] Ancient0racle opened #7 "Show terminal window if temps was set to start at login"
I have set temps start at login and every time I restart the mac, this terminal window will appear and if I start it manually, this terminal window will not appear.Btw, I have installed Bartender at my Mac.

<img width="575" alt="2016-10-25 9 27 49" src="https://cloud.githubusercontent.com/assets/13412058/19669895/82042bfe-9a95-11e6-815d-9ca1aea99f54.png">

[2016-10-25 12:56] CrystalMethod commented on #7
Same here, without Bartender.

[2016-10-27 11:42] atyamsriharsha opened #8 "Failure during data fetching"
I am getting error that data is unable to fetch after entering the command npm start in ubuntu 14.04

[2016-11-08 11:21] konradmichalik opened #9 "Fix snow animation"
<img width="280" alt="bildschirmfoto 2016-11-08 um 12 20 51" src="https://cloud.githubusercontent.com/assets/4558190/20097251/d45372ca-a5ad-11e6-9ef7-ed6e30d2176e.png">

Look some kind of unready.

[2016-11-08 11:23] konradmichalik commented on #8
Do you have still the problem? Some kind of hints or so? Did you try another api key perhaps?

[2016-11-10 07:59] postadelmaga opened #10 "[Request] - Add Air quality information"
Nowadays the air quality is more and more a concern in many cities and in the same way as if it is going to rain I will bring with me an umbrella, if the air is very bad today I will bring with me a mask ...

I feel like adding such information to the gui will be useful at least for 2 reason:
 - help people to have a easy access to the Air Quality information
 - stimulate the sensibility to the po

[2016-11-10 08:27] CorentinDy opened #11 "Temps won't start"
Hi,
i just download Temps for Windows 10 (tried x64 and x86 version).
But no luck it won't start.

If you need some informations i'm here , just don't have a thing to show for now .

Is there any requirements needed ? or something i've forget ?

[2016-11-10 08:34] konradmichalik commented on #11
Hey there,

mh, do you noticed that temps is a tray/menubar app? So when you start the app, you will find the temps icon beneath the other user and system apps. After you clicking the icon or using the shortcut <cmd>STRG</cmd> + <cmd>Shift</cmd> + <cmd>W</cmd> the app will start.

Hope this will help.

[2016-11-10 08:36] CorentinDy commented on #11
My bad i was about to write that it takes about 20min to start , on my home pc it takes about 3sec to start but they have the same configuration and installation maybe it something on my side .

Great app btw !

[2016-11-10 08:38] konradmichalik commented on #11
Cheers ;)

[2016-11-10 08:50] CorentinDy commented on #11
Is there any way to help to translate in french ?

[2016-11-10 08:52] konradmichalik commented on #11
For now there is no translation planned. But this could be a nice feature. I will let you know when I need your help with the translation :)

[2016-11-10 10:39] jobukkit opened #12 "Usage of the term "lightweight""
A weather forecasting application that includes a whole HTML5 engine, putting the download size at 41,7 MB, can't be considered lightweight in any way.

[2016-11-10 13:01] kjpuchala opened #13 "Won't start on Ubuntu Xenial - prints "undefined" in console"
Trying to run from downloads:

undefined
{ Error: connect ETIMEDOUT 151.101.84.133:443
    at Object.exports._errnoException (util.js:1026:11)
    at exports._exceptionWithHostPort (util.js:1049:20)
    at TCPConnectWrap.afterConnect [as oncomplete] (net.js:1081:14)
  code: 'ETIMEDOUT',
  errno: 'ETIMEDOUT',
  syscall: 'connect',
  address: '151.101.84.133',
  port: 443,
  response: undefined }

[2016-11-10 15:01] happydemic opened #14 "Problem with time fetching"
Ubuntu 16.10 (Unity).
I am seeing an intermittent undefined/NaN error with the time and date fetching (see picture):
![temps](https://cloud.githubusercontent.com/assets/12738878/20181306/855c2e60-a755-11e6-8cbe-658fecc5b411.png)

Is this an API rate limit issue?

[2016-11-11 12:03] konradmichalik commented on #12
You're right. When I was creating the landing page I considered about the look and the design. "Lightweight" was more meant for the style then the functional application. I know about the inefficiency using the whole electron environment for a simple weather application. But this is more a huge practise project for me then a marketing idea or so.

So if you like it, i'm happy, if you want to contr

[2016-11-11 12:03] #12 closed, assigned to nobody

[2016-11-11 12:04] #11 closed, assigned to nobody

[2016-11-11 12:05] konradmichalik commented on #14
Looks like a more bigger problem then I thought. Could be hang out with some of  the api calls. I will have a look.

[2016-11-11 13:51] probonopd opened #15 "AppImage for Linux"
Please provide an [AppImage](http://appimage.org/) for Linux. This will allow temps to run on many Linux distributions at once. `electron-builder` has support for it, so should be really easy:

1. Edit package.json to use the latest electron-builder.

2. Edit package.json — add after "build": { ... }:

[code]
Then, `npm install` or `npm run dist or npm run dist -- --linux=AppImage` if you want to

[2016-11-11 16:12] marcogutama commented on #14
Same problem. How can we fix that?

[2016-11-11 22:28] aguilera51284 commented on #14
Same! :S

[2016-11-12 06:13] bhdouglass opened #16 "Date and Time show as NaN and undefined"
While I was checking out temps I noticed that the date and time both show NaN and undefined rather than actually showing a date/time. I dug through the code a bit and it appears that this is happening because the requests to the timezone api have exceeded their limit. If possible it would be nice to have the timezone fallback to the current timezone.

![screenshot from 2016-11-12 01-06-43](https:/

[2016-11-12 06:16] bhdouglass commented on #16
Totally just realized this is a duplicate of #14

[2016-11-12 06:16] #16 closed, assigned to nobody

[2016-11-12 15:49] konradmichalik commented on #14
Fixed the problem for now. Like @bhdouglass said, the google maps timezone api has exceeded their limit of 2500 requests a day. I provided a API Key for this service and at all don't want to suggest, that every user has to get another api key for temps. So for now, this is a fallback if the limit is exceeded and you will have your own timezone information.
Any ideas how to solve this workaround?

[2016-11-12 15:50] #9 closed, assigned to konradmichalik

[2016-11-12 15:56] konradmichalik commented on #10
This is at least not a bad idea, especially for regions with massive air quality problems. But for now I will leave temps as simple as possible, including the displayed information. I will have so much more information provided by the weather api (like wind speed, humidity or pressure). Maybe later I know how to combine all of this information with the minimalistic design.

But cheers for the part

[2016-11-12 20:08] marczykm opened #17 "Error during app start on Windows 10 x64"
While starting app in Windows 10 x64 there's an error in console :

and the app windows won't appear

[2016-11-12 20:12] #17 closed, assigned to nobody

[2016-11-12 20:12] marczykm commented on #17
i haven't noticed app in tray
works fine

[2016-11-13 04:11] sidharthcnadhan opened #18 "Temps window not showing up in Windows 7 64bit"
Hi,

Temps window is not showing up in Windows 7 64bit.
The icon is showing up in the system tray and changing according to the weather of the default location
(Berlin).
But left click or right click on the icon has no response. Not able to change the location or any other settings.
Please look into this issue.

thanks,
Sidharth.

[2016-11-13 07:10] happydemic commented on #14
I said it too in my original post! Thanks for the fix. The fallback works fine in v.6.2.

I haven't had a chance to look at the code, but if I understand you, Temps now falls back to system time information if the Google API returns an error.

I wonder if a sturdier approach would be to use system time info by default, and offer some options for users for whom it doesn't work (typically because th

[2016-11-13 11:42] evertiro commented on #3
Just in case anyone else runs into the same issue, there's a lag on activation of OWS API keys. In my experience it takes between five and fifteen minutes for API keys to start working after they are created.

[2016-11-14 16:10] thevasya opened #19 "Negative temperature value doesn't fit into label"
When it's -10°C and below (i.e. two digits), there is an extra line break. See the screenshot:

![image](https://cloud.githubusercontent.com/assets/1012519/20271812/9a71a2e6-aabe-11e6-9275-23cc5c7ae581.png)

When it's warmer, it looks fine. I'm on Ubuntu 14.04, if this has any effect.

Thanks!

[2016-11-14 18:36] konradmichalik commented on #19
You're absolutly right. It was never so cold, that I was testing this case. I'll fix this in the next version. Cheers!

[2016-11-14 18:40] konradmichalik commented on #18
You can get to the settings by clicking the two lines in the upper left.
![screenshot](https://cloud.githubusercontent.com/assets/4558190/20277717/09434566-aaa2-11e6-8caf-f50c1d89d7fd.jpg)

Or you click on the current location or using shortcut "STRG" + "S" while temps is open. Hope this will help.

[2016-11-15 07:39] c0d3sling3r opened #20 "I cannot uninstall package"
I have installed the package, But I think it's a broken one. Now I want to uninstall that, But when I hit this command `sudo npm unistall -g temps`, I see no verbos report and it's clear that the package is not uninstalled. Because next time I'd login it will automatically run.

What should I do?? HELP!!

[2016-11-15 13:11] Ygarr opened #21 "Snow animation bad looping"
Snow animation has a bad looping -intermittent and cropped - so animated snowflakes movement makes intermittent move every 10 seconds, that straining eyes

[2016-11-15 13:17] konradmichalik commented on #20
I never tried to install them via npm for now. Normally you can remove all of the downloaded files and the app is gone.

[2016-11-15 21:03] c0d3sling3r commented on #20
The crazy problem is here: I cannot find the installed directory. :-|

[2016-11-17 09:27] hexion opened #22 "Blank system tray icon with autostart"
On autostart, the system tray icon is blank until it is clicked for the first time. After this, the main window appears and the information is fetched, so from that point on the system tray icon does show.

It would seem as the application is not connecting to openweathermap on autostart time.

I'm on Ubuntu 14.04, using the latest version of temps, 0.6.2.

[2016-11-17 18:55] Sadi58 commented on #22
I have the same problem on Ubuntu 16.10.
I can actually see that the dark app icon is displayed in system tray (which might be completely invisible when the bgcolor is almost the same), and when you click it you see a blank menu, but when you click on that blank area you sort of force it to start.
Also sometimes I see a question mark in place of that icon probably when there's some connection prob

[2016-11-17 19:32] Sadi58 opened #23 "Some improvement suggestions"
First of all, thanks a lot for this useful widget. Here are some suggestions that might hopefully contribute to its further development:

- [ ] For the sake of simplicity, I think we can do without the date and time info on this widget as they are displayed in the system tray anyway - also saving some desktop real estate perhaps.

- [x] When we click on the icon we see a menu like this: City, Coun

[2016-11-20 15:27] sidharthcnadhan commented on #18
Hi Konrad Michalik,

Thanks for the response.
But the problem is that, the Temps window itself is not opening.
All I have is the small system tray icon, on which left/right click has no response.
It just changes the icon according to the weather in Berlin,DE.

thanks,
Sidharth.

[2016-11-30 15:19] mkg20001 commented on #20
On Linux it might be: `/usr/lib/node_modules/temps`

[2016-12-01 20:47] tdodson90 opened #24 "12 hour clock"
Any possible way to make a 12 hour clock instead of a 24 hour one?

[2016-12-12 12:13] #10 closed, assigned to konradmichalik

[2016-12-12 13:44] konradmichalik commented on #7
https://github.com/Teamwork/node-auto-launch/issues/28 Could still be caused by this issue.

[2016-12-19 23:16] bilelmoussaoui opened #26 "Can't move the window"
Is it intended to not be able to move the window anywhere? if so, is there a way to enable/disable it?
I'm using ArchLinux with the latest git version
Thanks

[2016-12-20 05:56] sidharthcnadhan commented on #18
Hi,

This issue got resolved in the latest update.
Thanks a lot. Closing the bug.

Regards,
Sidharth.

[2016-12-20 05:56] #18 closed, assigned to nobody

[2016-12-20 07:08] konradmichalik commented on #24
Solved by version v0.7.0

[2016-12-20 07:08] #24 closed, assigned to konradmichalik

[2016-12-20 07:09] konradmichalik commented on #21
Solved by version v0.7.0

[2016-12-20 07:09] #21 closed, assigned to konradmichalik

[2016-12-20 07:09] konradmichalik commented on #19
Solved by version v0.7.0

[2016-12-20 07:09] #19 closed, assigned to konradmichalik

[2016-12-20 09:21] konradmichalik commented on #20
Did you find the installed directory? @mojsho

[2016-12-20 09:23] konradmichalik commented on #26
A drag-and-drop functionality is not implemented so far. This is because of i'm using an external module, which controls the correct positioning within a menubar. For now, there is no possibility to drag the application around your desktop.

[2016-12-20 10:25] thevasya commented on #19
Thank you! Looks perfect now.

[2016-12-20 17:43] konradmichalik commented on #8
close issue because of no response

[2016-12-20 17:43] #8 closed, assigned to nobody

[2016-12-20 17:43] konradmichalik commented on #13
Still got this problem? I am a little helpless with that.

[2016-12-21 15:02] tdodson90 commented on #24
thanks jack! looks great! :)

[2016-12-23 09:15] happydemic opened #27 "Enhancement idea: temp in status icon"
The latest version looks great. Thank you!

I have an enhancement suggestion. For me, the temperature is more important than the precipitation. I wonder what you think about providing an option to display the temp in the status bar.

Personally, I would like the temp as a tiny badge on top of the current (sun/rain/cloud) icon, though I suppose for some users this would appear too small to be usefu

[2016-12-30 12:34] bilelmoussaoui opened #28 "Tray icons"
Hello, In Linux users love the possibility to change the all the icons by changing the main icon theme. it seems that Electron does not support that at the moment; so I've created a small script that handles that.

In order to implement your application support https://github.com/bil-elmoussaoui/Hardcode-Tray/issues/253. I'm wondering if the tray icons are the same as the ones used on the applicat

[2017-01-03 12:56] hexion opened #29 "Option to check location at start"
This would be useful to mobile laptop users. It could be set as the default behaviour, or as an option.

It would be enough if the application checks the IP location at start time. Alternatively, setting an interval for the checks would also work for users that hibernate their systems instead of shutting them down.

[2017-01-04 04:28] elatov opened #30 "Hourly Chart Observations"
First of all I wanted to say that this is a great app, I love it. I was checking out the chart and I noticed some inconsistencies:

1. There is gap in the data. I am attaching a screenshot

![temps-gap-in-data](https://cloud.githubusercontent.com/assets/7494394/21631571/eee300b0-d1f9-11e6-9daf-24e89b66806a.png)

Notice the current time is ~21:00 Tuesday Jan 3rd, but the first entry on the chart st

[2017-01-08 12:16] Ygarr opened #31 "Disappearing app window while losing focus"
Generally it looks like convenient feature

but when you want make:
 Screenshot
or Some surveillance
or comparing data -  this behaviour prevent to do this.

There is " _ " - minimize button in nearest competitor - Cumulus on qt5(although the appearance of Temps is better )

[2017-01-15 12:35] #26 closed, assigned to nobody

[2017-01-15 12:38] konradmichalik commented on #27
For mac this is no problem, because temperature is displayed next to the precipitation. I will keeping an eye out how to solve this issue for windows/linux user.

[2017-01-15 12:40] konradmichalik commented on #28
I will check and test this in the next version.
They are all the same icons, doesn't matter if the svg or the png ones. For now you only have the possibility to change the tray icon manually inside the settings menu.

[2017-01-15 12:43] konradmichalik commented on #29
You can check your location by using the geolocation feature via the arrow-icon inside the settings menu or using <cmd>Cmd</cmd> + <cmd>G</cmd>. So you can control by yourself when temps is checking your location.

[2017-01-15 12:49] konradmichalik commented on #30
Hey @elatov, thanks for the feedback.

I'm actually not sure, why there is such a gap. I never had such an issue before. Is this issue still present?
I'm getting the weather data by http://www.openweathermap.org/. I know the weather data is not the best so far, maybe you can compare google weather data and openweather data next time?
And the last point: yeah, I will keep that in mind. Hopefully wi

[2017-01-15 12:53] konradmichalik commented on #31
I'm actually not sure what the problem is. Temps is a menubar app, only while you focusing the app, you will get your weather information.

[2017-01-15 12:54] konradmichalik opened #32 "Snow window doesn't shrink in settings"
Can't change location, because snow animation lays over settings form.

[2017-01-15 12:55] konradmichalik commented on #13
Closed because of no response.

[2017-01-15 12:55] #13 closed, assigned to nobody

[2017-01-15 12:55] konradmichalik commented on #20
Closed because of no response.

[2017-01-15 12:55] #20 closed, assigned to nobody

[2017-01-15 17:40] bilelmoussaoui commented on #28
@jackd248 Thanks! I know about the settings, the purpose of my script is to provide the possibility to let the user apply his current theme to the hardcoded tray icons (that does not use the user theme). It's an upstream issue on Electron, but it's hacky solution for now. Anyway, having a specific folder for tray icons or just `tray_icon_name.{svg/png}` would be more than enough! In order to avoid

[2017-01-15 17:42] bilelmoussaoui commented on #28
And btw, i've created an AUR package for Archlinux users. The package can be installed using `yaourt -S temps` and here's the package https://aur.archlinux.org/packages/temps/. And the packaging information are here https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=temps. If you need me to modify anything just let me know ;) i will try to keep this up to date!

[2017-01-19 11:00] hexion commented on #29
You got it all wrong. I know you can click on that icon and the app will
re-calculate the geolocation. What I'm asking is for this to happen at load
time without user intervention.

Or at least an option for this to happen. For mobile users it is useless to
have geolocation if you have to go to settings and click again that icon
every time one changes location, which could be several times a day.

[2017-01-25 21:30] hadbabits opened #33 "Startup at Login issues"
I downloaded the Linux x64 zip and I've had a couple issues.

1. Unchecking the "start at login" box in the settings and hitting apply doesn't stay applied after exiting the app or logging out and back in. This relates to my next issue:

2. The startup script that app makes doesn't work. The script is

        /path/to/app/Temps.app --hidden

    The problem is that A) the executable is called "Te

[2017-01-27 18:01] sergiopjf opened #34 "Translation into another languages"
How to translate the application to other languages?

I can help with translation into Brazilian Portuguese.

[2017-01-31 10:12] konradmichalik commented on #34
This is a feature I will focus on the next releases, but thanks for your help, I will inform you, when this is necessary (:

[2017-01-31 10:13] konradmichalik commented on #33
Cheers for your participation, I will check this as soon as I can. (:

[2017-01-31 19:47] Qwash opened #35 "Start at login problem (not saving)"
1- Every time I start the app I have to disable this option!
2- Please add a context menu when right click the tray icon to quit the app
3- Don't autoupdate the weather information on every click in the tray icon and move it to a right click context menu "update information"
4- it would be great to add an option to show the temperature as a tray icon instead of those icons

[2017-02-06 22:46] Ygarr opened #36 "Update application functionality"
Ability to update software within application window or folder without manually downloading

[2017-02-06 22:47] Ygarr commented on #15
snap image is also suitable and commonly convenient

[2017-02-06 22:57] probonopd commented on #15
@Ygarr yes, but so far almost only Ubuntu comes with it out-of-the-box, whereas AppImages run almost everywhere.

[2017-02-19 20:02] dbkaplun opened #38 "Feature: brew cask formula"
https://caskroom.github.io/

[2017-03-12 06:04] elatov commented on #30
I apologize for the late response. Yeah comparing with **http://www.openweathermap.org/** site it does seem that the application is in sync. But I still don't know why http://www.openweathermap.org/ is so different from other weather providers (any plans to support other weather providers?). And looking over the graph I do see that they match:

![open-match](https://cloud.githubusercontent.com/ass

[2017-03-14 19:40] erikdubois opened #40 "How can I change the colours of temps like on your homepage"
I must have missed it. I see a style.css file on github but on my archlabs system I can not find anything that might be used as a configuration file?
Can you assist please?

[2017-03-18 16:34] konradmichalik commented on #40
For now, there is no possibility to change the colors on your own.
The colors depending on the temperature the app is showing. Maybe later I will give an opportunity to change the ui theme of temps.

[2017-03-18 16:34] #40 closed, assigned to nobody

[2017-03-21 19:55] albaphysic commented on #27
Something like my-weather-indicator would be great.
![image](https://cloud.githubusercontent.com/assets/26522326/24167818/789a77c4-0e78-11e7-849d-9f59715c7472.png)

http://www.omgubuntu.co.uk/2014/10/install-weather-indicator-ubuntu-14-10

[2017-04-29 18:19] kvnloo opened #41 "Feature request: add refresh timer"
This feature is to allow the user to control how often the weather refreshes.
Common time intervals would be:

- 5 minutes
- 15 minutes
- 30 minutes
- 1 hour
- 2 hours
- 4 hours

[2017-07-15 04:51] erikdubois opened #42 "Error loading"
Everything works fine. The computer boots up to fast. The fetching of the data is still in progress upon boot. Is there a command I can use to make it wait for the data and then display.

When I click on the display, it goes away. Second click on the icon in the toolbar will display the weather information.

So the program works.

![archlabs_2017-07-15-11_3840x1080](https://user-images.githubuserc

[2017-07-27 19:45] eznix86 commented on #35
I found this, hope it helps.
in this directory:
`~/.config/autostart`
You will find the startup file:
`Temps.app.desktop`
Open it with an editor, remove
the ".app" on the line :
Exec=/home/artechnology/Temps-linux-x64/Temps.app --Hidden.
This must look like this:
![image](https://user-images.githubusercontent.com/26553194/28689115-86016f28-7325-11e7-92ed-3c6bd7fefe73.png)

Then save, make it read

[2017-07-27 19:50] eznix86 commented on #33
I answered it here: (I am new on Github, yay)
at #35

[2017-08-10 13:42] TheCyberRonin commented on #5
@jackd248 If you are still actively developing this, I would like to contribute. I'm working on an app that lives in the tray as well, and I have it actively setting the window's bounds on click of the tray icon so that it updates the position no matter where the tray is located. I wouldn't mind throwing in a PR if you would like, once I have the algorithm properly fleshed out.

[2017-09-26 09:58] njordr opened #43 "Failure during data fetching"
Hi

App version 0.7.0 on mac.

I had always "Failure during data fetching error". I created a new key but same result.

I suspect it could be a proxy issue: does temps deal with proxy?

Thanks

[2017-09-27 20:34] samaero commented on #43
I'm having this same issue on 0.7.0 / 10.13 (High Sierra), as well as "Failure during location fetching" when attempting to use my location.

[2017-10-29 20:41] niftylettuce commented on #5
Amazing work.

[2017-10-29 20:42] niftylettuce opened #44 "brew cask package"
`brew cask install temps` would be nice + get this more exposure with an easy one liner install in README

[2017-10-29 20:42] niftylettuce opened #45 "apt-get install package"
a package for ubuntu w/ `sudo apt-get install temps` would be nice

[2017-11-02 07:38] pstanton237 opened #46 "It would be nice if I can disable global shortcuts."
Temp's global shortcut 'Cmd + Shift + W' conflict with the shortcuts of some applications I use.
For example, close all tabs in Chrome, close all tabs in Iterm2.
So I quit temps and use that shortcut in Chrome or Iterm2 and run termps.
I would like to have a way to change or disable shortcuts in temps. :)

Thanks,

[2017-11-04 17:21] jounlye commented on #45
i agree

[2017-11-12 13:53] niftylettuce commented on #43
Same issue on High Sierra, even with a custom API key

[2017-11-22 18:21] ghost opened #47 "Start at login in temps creates a Temps.app.desktop that points to non-existing file"
Temps version :0.7.0
Source : https://aur.archlinux.org/packages/temps/
OS : Arch Linux
DE : Xfce

Starting temps in xfce menu - no problem
Changing to town - no problem
Autologin at start  - no  problem

Creates the following file Temps.app.desktop in ./config/autostart
Content of .desktop file

[Desktop Entry]
Type=Application
Version=1.0
Name=Temps.app
Comment=Temps.appstartup script
Exec=/opt/

[2017-12-29 02:33] ronan18 commented on #43
Same on High Sierra, 10.13.3 Beta

[2018-05-24 19:20] hugh1li opened #48 "Macbook pro Sierra no Four-Day weather forecast"
Great app! But I cannot see the 4d forecast since I installed the app.

![2018-05-24 at 15 21](https://user-images.githubusercontent.com/6027595/40508451-3ddbcd3c-5f66-11e8-9211-c72c9c65f0d6.jpg)

[2018-05-24 19:21] hugh1li commented on #48
![2018-05-24 at 15 21](https://user-images.githubusercontent.com/6027595/40508387-32de899c-5f66-11e8-8d40-ccfc1c58a254.jpg)

[2018-10-15 16:01] nitrocode opened #49 "Failure during data fetching"
I have a key from openweather and tested it with curl to make sure it works. I enter the key into temps.app and every time I run it, it responds with

Is there a log file or a way to get more information on why / how it's failing?

[2018-10-22 14:32] musicpro commented on #48
I just downloaded the project to figure out what the problem is.
So in the end it seems like open weather map changed some things in their API. So now you have to pay for getting a daily forecast. Since you still get an hourly forecast for 5 days for free I try to use this to make the app working again.
And I did it :) After some changes in the code everything seems to work again like it should. A

[2018-10-22 15:23] musicpro commented on #49
I guess it's cause of the API change by open weather map. They want you to pay for the daily forecasts.
I created a fork of this project and fixed the problem, at least I hope so ;)
You can try it if you want.
https://github.com/musicpro/temps

[2019-01-11 14:26] GrigorijST commented on #49
Thanks. It works awesome.

[2019-02-11 21:36] axelv73 commented on #49
Hi! How can I use the fork?? I don't understand.... Thanks

[2019-02-15 13:06] musicpro commented on #49
Well the easiest way will be to clone or download the repo (my fork) and build it for your own. It's done like the README says.
If you need more help just ask. I even could provide a installer you can download but I did not uploaded one yet. :)

[2019-02-18 11:32] PrzemekSkw commented on #34
@jackd248 Maybe make it on transifex.com. I will help to translate to Polish. App is great.

[2019-02-20 19:03] axelv73 commented on #49
The installer would be great also because I did not understand how to do ...

[2019-02-22 18:04] musicpro commented on #49
@axelv73 So I just uploaded some different versions as releases. So just pick the one you need, unzip it and start the app. It's not a installer more like ready to go :)

[2019-02-22 18:52] axelv73 commented on #49
@musicpro ok thanks!!! It works fine!
Only one things...the location sees me in the near city and not in mine. :(

[2019-02-25 04:09] darkoverlordofdata opened #51 "Is this app still supported"
Nothing works, and no issues have been resolved for 2 years.

[2019-02-26 22:49] darkoverlordofdata commented on #51
Well here is on that works:

https://gitlab.com/bitseater/meteo

[2019-02-26 22:49] #51 closed, assigned to nobody

[2019-02-27 11:27] musicpro commented on #49
Good to hear that it is working :)
I am sorry with the localization, but there is not much I can do. We have to rely on the people who created the database for the IP Localization to get a higher accuracy. Maybe I will find a different option to localize. But till then you can use the field "City" under options to search for your city.

[2019-03-04 20:01] spacecatpy opened #52 "Feedback - Some installation advice for noob linux users maybe?"
Some of us are still fairly new or forget (I'm not new to Ubuntu, but I'm new to Archlinux-Manjaro). I haven't used linux for a long time and need a reminder on how to install the app.

Or we can download from the repositories?

This would be fantastic, thankyou. The screenshots look great, but alas I forgot how to install.

[2019-03-13 13:29] musicpro commented on #52
Well if I am not completely off, you can simply download the zip under releases. Of course you have to select the right one for your system.
Never tried it on linux tho...

[2019-05-07 08:13] helptiger commented on #49
@musicpro I'm using your version. Do you have an idea why it shows "Invalid date"?

![Bildschirmfoto 2019-05-07 um 10 11 46](https://user-images.githubusercontent.com/10258902/57283995-9e114e00-70b0-11e9-8b16-6a0b3db82edb.png)

[2019-05-08 13:59] musicpro commented on #49
Yeah, I noticed this too. Reason was the google api. So I fixed it and pushed it. If you need to download an executable file you can find new builds under the release tap.
Hope it's working for you as well.
Ah, and maybe you have to add a the API Key for openweathermap again.

[2019-05-18 07:28] l1t1s commented on #49
an installer would be great, because i also don't understant how to buil my own one

[2019-05-20 14:25] musicpro commented on #49
@l1t1s Hej, just check the release tab on GitHub. You can download the program there. Actually there is no installer needed to use the app.

[2019-05-20 19:19] l1t1s commented on #49
great. thousand thanks

[2019-07-11 06:11] LaP0573 commented on #49
@musicpro Awesome work and fix ! Quick question, is there a way to exit from the detailed day's forecast ? Like, I clicked on a day to see the temperature graph, but I have no way to exit that graph (and display the 4 days forecast again). It stays there, even if I go in the options or close/reopen the Temp window.

[2019-08-23 14:33] musicpro commented on #49
@LaP0573 Sorry for the late reply and thanks for using my fix!
So if I am not wrong just click the graph again. For me it is working like that. If not i will check the code again :)

[2019-11-11 11:53] happydemic commented on #49
@musicpro Thanks a million for patching this beloved app.

For me the ['invalid date'](https://github.com/jackd248/temps/issues/49#issuecomment-489981024) error has come back again. I'm running your latest patched release of May 2019 ([v.0.7.3](https://github.com/musicpro/temps/releases/tag/v0.7.3)).

Any chance you might be able to fix this again? I would have opened this as an issue in your fork

[2019-11-11 14:47] musicpro commented on #49
@happydemic Hej, glad to hear that you like it :)

So the reason for this is again the change of an API. I notice that there were a lot of request to the TimeZone API. So google decided to start charging for this and I ended up in a kinda huge bill I can't pay. Luckily I was still in the promo time and did not have to pay this one but every upcoming. This is why i had to deactivate it.
BUT  I am w

[2019-11-12 07:27] happydemic commented on #49
@musicpro Eeek! Great news you don't have to pay.

I have created this as an [issue](https://github.com/musicpro/temps/issues/1) on your fork.

[2020-04-16 09:40] comicsserg opened #53 "Ubuntu 20.04 cant run application"
When I unpack zip and execute the Temps file nothing happens
Any idea how to fix or where to look?

[2020-05-04 13:06] furtabs commented on #53
Run temps in a terminal and post the error

[2020-06-25 14:40] papioara opened #54 "Invalid date message"
Hello,
I have tried temps, and I am impressed. It really looks great and outputs correct weather information. The only thing which does not work is the date for unknown reasons. In the upper right corner it says: invalid date. Can't find any way to see what temps expects as format or change it.
I have a machine with Linux Mint 19.3 64bit Cinnamon.
Thanks for any advice how to fix this...

[2020-08-14 08:23] happydemic commented on #53
`Gtk-Message: 09:20:56.783: Failed to load module "appmenu-gtk-module"`
`(Temps:3090959): Pango-ERROR **: 09:20:57.078: Harfbuzz version too old (1.2.7)`

[2020-08-19 16:04] musicpro commented on #54
Hej, you could try my fork if you want to :) Since the original is not maintained anymore I tried to fix some of the issues. Might not be perfect but works a bit ^^

https://github.com/musicpro/temps

[2021-02-04 07:53] GirkovArpa commented on #54
I've done a complete rework using the Sciter engine, feel free to check it out [here](https://github.com/GirkovArpa/temps-lite).  The hourly temperature graph feature isn't implemented though.  I'm not sure what the demand is, since subscriptions to that particular API are not free anyways.

[2021-02-04 17:40] papioara commented on #54
Hi,
Thank you for your message and the good news. I have downloaded everything, but I am not sure if I got all the instructions from the project page right. If I cannot wrap my head around something, I will write again. I really appreciated that someone finally takes care fo temps again.

[2021-02-04 18:52] GirkovArpa commented on #54
@papioara I updated the readme with clearer instructions in case you are on Windows.  I also made some bug fixes.  Hope that helps!

[2021-02-04 18:59] papioara commented on #54
I have checked out things now, and under Linux (should have said that) I cloned the Sciter repositorry to my machine and copied the one x64 folder from the bin.lnx one into my temps-lite directory. I launched usciter and made it load the main.htm file, and there it was: beautiful as ever and working like a charm.
I wonder if there would be a more straightforward way to launch temps-lite, but that

[2021-02-04 19:07] archisman-panigrahi commented on #54
@GirkovArpa Can you enable GitHub issues in your fork? Then we could discuss the fork specific issues (e.g. packaging the app in GNU/Linux) there.

[2021-02-04 19:13] papioara commented on #54
Thank you! I should have said that I am on Linux Mint...
I have cloned the sciter-sdk repository and copied the x64 folder from the bin.lnx one to my temps-lite folder and launched usciter. I then loaded the main.htm into usciter, and there it was, beautiful as ever and working like a charm.
I wonder, though, if there would be a more straightforward way to open temps-lite than that one, but it def

[2021-02-04 20:30] GirkovArpa commented on #54
@apandada1 Thanks for the tip, I did not know that issues were disabled.  They should be available now.

[2021-02-04 21:20] GirkovArpa commented on #54
@papioara If you open an issue over there I believe I have the solution.  Basically you should run [scapp](https://github.com/c-smile/sciter-sdk/tree/master/bin.lnx/x64/scapp) instead of usciter.  There's also a way to package it into a single executable, which I can elaborate on.

[2021-02-04 22:16] papioara commented on #54
I have checked out temps now. After cloning the Scite repository and copying over the one x64 folder into the temps-lite folder, making usciter executable and opening it, I could finally load the temps main.htm into it. And temps works flawlessly like this and looks as beautiful as ever, but works also. Thank you in any case for this great work! I'll spread the word...
Just wondering if there is a

[2021-04-19 08:03] kheshav-coder opened #56 "error while trying to install using npm in ubuntu 20.04.2"
when I execute npm start the following error appears:
![Screenshot from 2021-04-19 13-59-07](https://user-images.githubusercontent.com/61469266/115205718-7853a700-a117-11eb-88fe-9c7beb3df380.png)

please help on how to solve this I badly want to use this application

[2021-04-25 21:00] GirkovArpa commented on #56
@kheshav-coder This repository is abandoned.  Please see [this](https://github.com/GirkovArpa/temps-lite) fork instead.